.face {
   max-width: 321px;
   height: 480px;
   width: 100%;
   padding: 20px;
}

.faces>.ocdatormeti {
   max-width: 1028px;
   width: 100%;
}

.face1 {
   background: url(../images/qali.png)
}

.face2 {
   background: url(../images/kaci.png)
}


.face3 {
   background: url(../images/qali2.png)
}

.footer.cflex.samoci {
   padding-bottom: 0;
}

.b>div:first-child p {
   color: #000;
   font-family: Inter;
   font-size: 20px;
   font-style: normal;
   font-weight: 600;
   line-height: normal;
}

.b>div p {
   color: #FFF;
   font-family: Inter;
   font-size: 20px;
   font-style: normal;
   font-weight: 600;
   line-height: normal;
}

.b>div:first-child {
   background-color: white;
}

.b>div {
   border: 1px solid #FFF;
   width: 100%;
   max-width: 221px;
   height: 65px;
}

.copyright {
   width: 100%;
   padding-top: 19px;
   padding-bottom: 32px;
}

.copyright p {
   color: #FFF;
   font-family: Inter;
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   line-height: 144.523%;
   /* 26.014px */
}


.fnav>div:nth-child(2)>div:nth-child(3) {
   border-left: 1px solid #4B557D;
   padding-left: 41px;
}

.fnav>div:nth-child(2) li,
.fnav>div:nth-child(3) li {
   color: #FFF;
   font-family: Inter;
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   line-height: 175.023%;
   /* 31.504px */
}

.fnav>div:nth-child(2) p,
.fnav>div:nth-child(3) p {
   color: #FFF;
   font-family: Inter;
   font-size: 20px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
}

.fnav>div:nth-child(2)>div:nth-child(2) {
   padding: 0 34px;

   border-left: 1px solid #4B557D;
}

.fnav>div:first-child {
   max-width: 474px;
   width: 100%;
   border-right: 1px solid #4B557D;
   padding-right: 34px;
}

.fnav>div:first-child p {
   color: #FFF;
   font-family: Inter;
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   line-height: 144.523%;
   /* 26.014px */
}

.c {
   width: 100%;
   padding-left: 34px;
}

.footer>.cflex {
   max-width: 1028px;
   width: 100%;
}

.fnav {

   border-top: 1px solid #4B557D;
   border-bottom: 1px solid #4B557D;
   padding: 41px 0;
}

.choose {
   max-width: 1028px;
   width: 100%;
}

.footer {
   padding-bottom: 32px;
}

.faces h2 {
   color: #DD2590;
   font-family: Inter;
   font-size: 36px;
   font-style: normal;
   font-weight: 600;
   line-height: 44px;
   /* 122.222% */
   letter-spacing: -0.72px;
}

.faces p {
   color: #7E7E7E;
   font-family: Inter;
   font-size: 20px;
   font-style: normal;
   font-weight: 400;
   line-height: 30px;
   /* 150% */
}

.project {
   height: 483px;
   padding: 56px;
   background: rgba(28, 39, 82, 0.30);
   backdrop-filter: blur(12.5px);
   max-width: 512px;
   width: 100%;
}

.project button {
   color: #FFF;
   text-align: center;
   font-family: Mulish;
   font-size: 25px;
   font-style: normal;
   font-weight: 800;
   line-height: normal;
   background: #DD2590;
   padding: 17px 18px;
}

.project p {
   color: #FFF;
   font-family: Mulish;
   width: 100%;
   font-size: 25px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   height: 65px;
   padding: 17px 22px;
   border: 1px solid #FFF;
}

.right {
   background: url("../images/squid.png") no-repeat center center;
   width: 100%;
}

.left {
   max-width: 545px;
   width: 100%;
   ;
}

.left h2 {
   color: #DD2590;
   font-family: Inter;
   font-size: 45px;
   font-style: normal;
   font-weight: 800;
   line-height: normal;
}

.left p {
   color: #7E7E7E;
   font-family: Inter;
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   line-height: 28px;
   /* 155.556% */
}

.left h3 {
   color: #FFF;
   font-family: Inter;
   font-size: 20px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
}

.reasons {
   max-width: 1234px;
   width: 100%;
   height: 706px;
}

.squid {
   max-width: 1440px;
   width: 100%;
}

.cards p {
   color: #000;
   font-family: Inter;
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   line-height: 24px;
   /* 133.333% */
}

.cards a {
   color: #000;
   font-family: Inter;
   font-size: 18px;
   font-style: normal;
   font-weight: 600;
   line-height: normal;
}

.cards h2 {
   color: #DD2590;
   font-family: Inter;
   font-size: 20px;
   font-style: normal;
   font-weight: 700;
   line-height: 28px;
   /* 140% */
}

.cards>div {
   height: 325px;
   opacity: 0.9;
   background: #FFE1F3;
   padding: 47px 37px 47px 36px;
}

.our {
   max-width: 687px;
   width: 100%;
}

.our h2 {
   color: #FFF;
   text-align: center;
   font-family: Inter;
   font-size: 45px;
   font-style: normal;
   font-weight: 800;
   line-height: normal;
}

.our p {

   color: #FFF;
   text-align: center;
   font-family: Inter;
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
}

header {
   background-color: white;
}

.qveda button {
   background: #DD2590;
   padding: 20px 33px 20px 33px;
   color: #FFF;
   font-family: Inter;
   font-size: 20px;
   font-style: normal;
   font-weight: 600;
   line-height: normal;
}

.qveda h2 {
   color: #000;
   font-family: Mulish;
   font-size: 35px;
   font-style: normal;
   font-weight: 800;
   line-height: normal;
}

.qveda p {
   color: #7E7E7E;
   font-family: Inter;
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
}

.qveda>div {
   width: 100%;
   max-width: 391px;
}

.qveda.samoci.aic {
   height: 596px;
   max-width: 1028px;
   width: 100%;
   background: #FFF;
   box-shadow: 0px 20px 38px 0px rgba(216, 216, 216, 0.25);

   padding: 59px 66px;
}

.zeda h2 {
   color: #FFF;
   font-family: Inter;
   font-size: 45px;
   font-style: normal;
   font-weight: 800;
   line-height: normal;
}

.zeda p {
   color: #FFF;
   text-align: center;
   font-family: Inter;
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
}

.zeda.cflex {
   max-width: 723px;
   width: 100%;
}

.services {
   background: #DD2590;
   width: 100%;
   padding: 84px 32px;
}

.services>div {
   max-width: 1028px;
   width: 100%;

}

.provide div:last-child.ormoci p {
   line-height: normal;
}

.provide p {
   color: #FFF;
   font-family: Inter;
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   line-height: 28px;
   /* 155.556% */
}

.provide h1 {
   color: #DD2590;
   font-family: Inter;
   font-size: 45px;
   font-style: normal;
   font-weight: 800;
   line-height: normal;
}

.bb {width:100%;}
.aura {
   max-width: 1440px;
   width:100%;
   position: relative;
   padding-bottom: 56px;
}

.aura::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(0, 0, 0, 0.5);
   z-index: 0;
}

.aura h1 {
   max-width: 619px;
   width: 100%;
}

.aura>div:first-child {
   position: relative;
   padding-left: 32px;
   z-index: 1;
   max-width: 1028px;
   width: 100%;
   ;
}

.aura h1 {
   color: #FFF;
   font-family: Inter;
   font-size: 60px;
   font-style: normal;
   font-weight: 800;
   line-height: normal;
}

.aura button {
   color: #FFF;
   font-family: Inter;
   font-size: 20px;
   font-style: normal;
   font-weight: 600;
   line-height: normal;
   background: #DD2590;
   padding: 20px 33px 21px 33px;
}

.aura {
   background: url(../images/aura.png) no-repeat center center;
   height: 825px;
   width: 100%;
   max-width: 1440px;
   ;
}

.contact {
   width: 100%;
}

.contact h2 {
   color: #DD2590;
   font-family: Inter;
   font-size: 20px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
}

.contact p {
   color: #7E7E7E;
   font-family: Inter;
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
}

.center {
   gap: 104px;
}



.header p {
   color: #1C2752;
   font-family: Inter;
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
}

body {
   background: #0E0E0E;
}

main {
   padding-top: 30px;
   gap: 104px;
   padding-bottom: 393px;
}